<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="classpath*:business-config.xml" />

	<context:property-placeholder location="classpath*:filePath.properties" ignore-unresolvable="true"/>
	
	<bean id="filmReaderCSV" class="org.springframework.batch.item.file.FlatFileItemReader">
		<!-- property name="resource" value="classpath:ListeDVD.csv" / -->
		<property name="resource" value="file:${liste.dvd.path}" />
		<property name="linesToSkip" value="1" />
		<property name="lineMapper">
			<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
				<property name="lineTokenizer">
					<bean
						class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
						<property name="delimiter" value=";" />
						<property name="names" value="realisateur,titre,zonedvd,annee,acteurs" />
					</bean>
				</property>
				<property name="fieldSetMapper">
					<bean
						class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
						<property name="targetType"
							value="fr.fredos.dvdtheque.batch.csv.format.FilmCsvImportFormat" />
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="filmProcessor" class="fr.fredos.dvdtheque.batch.film.processor.FilmProcessor" />

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

	<bean id="filmWriter" class="fr.fredos.dvdtheque.batch.film.writer.FilmWriter">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
</beans>
