<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch
	http://www.springframework.org/schema/batch/spring-batch.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath*:applicationContext-batch.xml" />
	
	<bean id="cleanDBTasklet" class="fr.fredos.dvdtheque.batch.film.tasklet.CleanDBTasklet"/>
	<bean id="tmdbTasklet" class="fr.fredos.dvdtheque.batch.film.tasklet.TheMovieDbTasklet"/>
	
	<bean id="rippedFlagTasklet" class="fr.fredos.dvdtheque.batch.film.tasklet.RippedFlagTasklet">
		<property name="directoryResource">
	        <bean id="directory"
	                    class="org.springframework.core.io.FileSystemResource">
	            <constructor-arg value="${dvd.file.path}" />
	        </bean>
    	</property>
	</bean>

	<job id="importFilm" xmlns="http://www.springframework.org/schema/batch" job-repository="jobRepository">
		<step id="cleanDB" next="checkFilm">
			<tasklet ref="cleanDBTasklet" allow-start-if-complete="true"/>
		</step>
		<step id="checkFilm" next="setRippedFlag">
			<tasklet transaction-manager="transactionManager" allow-start-if-complete="true">
				<chunk reader="filmReaderCSV" writer="filmWriter" processor="filmProcessor" commit-interval="500" />
			</tasklet>
		</step>
		<step id="setRippedFlag" next="tmdb">
			<tasklet ref="rippedFlagTasklet" allow-start-if-complete="true"/>
		</step>
		<step id="tmdb">
			<tasklet ref="tmdbTasklet" allow-start-if-complete="true"/>
		</step>
	</job>

</beans>