<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="LOG_TEMP" value="./logs"/>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="fr.fredos.dvdtheque.allocine" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>