<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>

<configuration scan="true" scanPeriod="1 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<property resource="logback.properties" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} %-5level [%file : %line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	
	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.path}dvdtheque-web.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${log.path}dvdtheque-web.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} [%file :%line] - %msg %n</Pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="${logging.level.org.springframework}" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="fr.fredos.dvdtheque.dao" level="${logging.level.fr.fredos.dvdtheque.dao}" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="fr.fredos.dvdtheque.service" level="${logging.level.fr.fredos.dvdtheque.service}" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>
	
	<logger name="fr.fredos.dvdtheque.web" level="${logging.level.fr.fredos.dvdtheque.web}" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<logger name="org.hibernate" level="${logging.level.org.hibernate}" additivity="false">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</logger>

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>
