server:
  port: 8089
spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: dvdtheque-batch-service
  cloud:
    config:
      fail-fast: true
logging:
  level:
    root: info      
management:
  endpoints:
    web:
      exposure:
        include: "*"